.App {
  text-align: center;
}

.App-header {
  background-color: white;  
  /* #282c34; */
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:#282c34;
  /* white; */
}

.App-main-content {
  background-color: white;  
  /* #282c34; */
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:#282c34;
  /* white; */

}

.App-link {
  color: #61dafb;
}

.dropzone {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border-width: 2px;
	border-radius: 2px;
	border-color: #eeeeee;
	border-style: dashed;
	background-color: #fafafa;
	color: #bdbdbd;
  font-size: .75em;
	outline: none;
	transition: border .24s ease-in-out;
  min-height: 10vh;
  max-height: 20vh;
  min-width: 35vw;

  

}
.dropzoneContainer{
	display: flex;
	flex-direction: column;
  align-items: center;
}

.dicomDataTableContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border-width: 2px;
	border-radius: 2px;
	border-color: #eeeeee;
	border-style: solid grey;
	background-color: white;
	color: #282c34;
  font-size: .75em;
	outline: none;
	transition: border .24s ease-in-out;
}

table {
  text-align: left;
  font-size: .9rem;
  padding: 5px;
  background-color: white;
  border: #e1e1e1 solid 1px;
  min-width: 50vw;
}

th {
  padding: 5px;
  margin: 5px;
  border-bottom: #e1e1e1 solid 1px;
}

td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

}
tr:nth-child(even) {
  background-color: #e1e1e1;
}

