.App {
  text-align: center;
}

.App-header {
  background-color: white;  
  /* #282c34; */
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:#282c34;
  /* white; */
}

.App-main-content {
  background-color: white;  
  /* #282c34; */
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:#282c34;
  /* white; */

}

.App-link {
  color: #61dafb;
}

.dropzone {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border-width: 2px;
	border-radius: 2px;
	border-color: #eeeeee;
	border-style: dashed;
	background-color: #fafafa;
	color: #bdbdbd;
  font-size: .75em;
	outline: none;
	transition: border .24s ease-in-out;
  min-height: 10vh;
  max-height: 20vh;
  min-width: 35vw;

  

}
.dropzoneContainer{
	display: flex;
	flex-direction: column;
  align-items: center;
}

.dicomDataTableContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border-width: 2px;
	border-radius: 2px;
	border-color: #eeeeee;
	border-style: solid grey;
	background-color: white;
	color: #282c34;
  font-size: .75em;
	outline: none;
	transition: border .24s ease-in-out;
}

table {
  text-align: left;
  font-size: .9rem;
  padding: 5px;
  background-color: white;
  border: #e1e1e1 solid 1px;
  min-width: 50vw;
}

th {
  padding: 5px;
  margin: 5px;
  border-bottom: #e1e1e1 solid 1px;
}

td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

}
tr:nth-child(even) {
  background-color: #e1e1e1;
}


/* Alert component */
.alertContainer {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  border: #f94144 solid 1px;

}

.alertHeader {
  border-bottom: #f94144 1px solid;
  background-color:  #F8E4E7;
  padding: 5px;
  min-height: 2vw;
  width: 45vw;
  color: #f94144;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: underline dotted #f94144 7%;
}

.alertBody {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  width: 45vw;
  font-size: 1rem;

}

.alertButtonContainer {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  min-height: 2vw;
  width: 25vw;
  font-size: 1rem;

}

.alertButton {
  display: inline-block;
  padding: 3px 15px;
  margin: 10px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #f94144;
  font-weight: bolder;
  border: 1px solid #f94144;
  background-color: white;
  box-shadow: 1px 1px #a8a7a7;
}

.alertButton:hover {background-color: #F8E4E7}

.alertButton:active {
  background-color: #F8E4E7;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Info component */

.infoContainer {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  border: #277da1 solid 1px;

}

.infoHeader {
  border-bottom: #277da1 1px solid;
  background-color:  #EBF6F9;
  padding: 5px;
  min-height: 2vw;
  width: 45vw;
  color: #277da1;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: underline dotted #277da1 7%;
}

.infoBody {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  width: 45vw;
  font-size: 1rem;

}

.infoButtonContainer {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  min-height: 2vw;
  width: 25vw;
  font-size: 1rem;

}

.infoButton {
  display: inline-block;
  padding: 3px 15px;
  margin: 10px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #277da1;
  font-weight: bolder;
  border: 1px solid #277da1;
  background-color: white;
  box-shadow: 1px 1px #a8a7a7;
}

.infoButton:hover {background-color: #EBF6F9}

.infoButton:active {
  background-color: #EBF6F9;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Success component */

.successContainer {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  border: #43AA8B solid 1px;

}

.successHeader {
  border-bottom: #43AA8B 1px solid;
  background-color:  #e9f9f4;
  padding: 5px;
  min-height: 2vw;
  width: 45vw;
  color: #43AA8B;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: underline dotted #43AA8B 7%;
}

.successBody {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  width: 45vw;
  font-size: 1rem;

}

.successButtonContainer {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  min-height: 2vw;
  width: 25vw;
  font-size: 1rem;

}

.successButton {
  display: inline-block;
  padding: 3px 15px;
  margin: 10px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #43AA8B;
  font-weight: bolder;
  border: 1px solid #43AA8B;
  background-color: white;
  box-shadow: 1px 1px #a8a7a7;
}

.successButton:hover {background-color: #EBF6F9}

.successButton:active {
  background-color: #EBF6F9;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}